<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/index.css" />
    <title>Edit Post</title>
  </head>
  <body>
    <div class="formContainer">
      <h1>Edit Post</h1>
      <form action="/edit/<%= postId %>" method="POST">
        <div class="formGroup">
          <label for="title">Title:</label>
          <input
            type="text"
            id="title"
            name="title"
            value="<%= post.title %>"
            required
          />
        </div>
        <br />
        <div class="formGroup">
          <label for="subheader">Subheader:</label>
          <input
            type="text"
            id="subheader"
            name="subheader"
            value="<%= post.subheader %>"
            required
          />
        </div>
        <br />
        <div class="formGroup">
          <label for="paragraph">Paragraph:</label>
          <textarea id="paragraph" name="paragraph" required>
        <%= post.paragraph %></textarea
          >
        </div>
        <br />
        <input type="submit" value="Save Changes" required />
      </form>
    </div>
  </body>
</html>
