<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog WebApp</title>
  </head>
  <body>
    <form action="/submit" method="POST">
      <%- include("partials/header.ejs") %>
      <h1>Title:</h1>
      <input type="text" name="Title" />
      <h3>Subheader:</h3>
      <input type="text" name="Subheader" /><br />
      <textarea name="paragraph"></textarea>
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
